<img src="./Python.jpg"/>

<p style="font-size: 16px">In this section, we are going to help you to get familiar with <b>python</b>. <br /> 
We will see some code snippets to percept the concepts better.</p>

<h3>Contents:</h3>
<ul>
    <li><a href='#1'>What is Python?</a></li>
    <li><a href='#2'>AI and Python: Why?</a></li>
    <li><a href='#3'>Installation</a></li>
    <li><a href='#4'>Variable & Data Types</a></li>
    <ul>
        <li><a href='#41'>Numbers</a></li>
        <li><a href='#42'>Booleans</a></li>
        <li><a href='#43'>Strings</a></li>
    </ul>
    <li><a href='#5'>Random</a></li>
    <li><a href='#6'>Reshape</a></li>
    <li><a href='#7'>Arithmetic Functions</a></li>
    <li><a href='#8'>Statistical Functions</a></li>
    <li><a href='#9'>Universal Functions</a></li>
</ul>

<hr />
<h3><div id='1'> What is Python? </div></h3>
<br /> 
Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects. (Wikipedia)
<br/>
Click <a href='https://www.python.org/'>here</a> to read more about.

<hr />

<h3><div id='2'>AI and Python: Why?</div></h3>
<br />
Python offers the least code among others and is in fact 1/5 the number compared to other OOP languages. No wonder it is one of the most popular in the market today.

Python has Prebuilt Libraries like Numpy for scientific computation, Scipy for advanced computing and Pybrain for machine learning (Python Machine Learning) making it one of the best languages For AI.
Python developers around the world provide comprehensive support and assistance via forums and tutorials making the job of the coder easier than any other popular languages.
Python is platform Independent and is hence one of the most flexible and popular choices for use across different platforms and technologies with the least tweaks in basic coding.
Python is the most flexible of all others with options to choose between OOPs approach and scripting. You can also use IDE itself to check for most codes and is a boon for developers struggling with different algorithms.

Click <a href="https://www.cuelogic.com/blog/role-of-python-in-artificial-intelligence">here</a> to read more about this topic. 
<hr />

<div id='3'><h3>Installation</h3></div>
<br />
Click <a href='https://medium.com/co-learning-lounge/how-to-download-install-python-on-windows-2021-44a707994013'>here</a> to see the complete installation guide.

<div id='4'><h3>Variable & Data Types</h3></div>

In [4]:
num = 2
text = 'Hello, ANN students'

<div id='41'><h4>Numbers</h4></div>

In [11]:
x = 2
y = 1443
z = -4
f = 0.032

print('x: ', x, type(x))
print('y: ', y, type(y))
print('z: ', z, type(z))
print('f: ', f, type(f))

x:  2 <class 'int'>
y:  1443 <class 'int'>
z:  -4 <class 'int'>
f:  0.032 <class 'float'>

<div id='42'><h4>Boolean</h4></div>

In [12]:
t_bool = True 
f_bool = False

In [17]:
print('t_bool:', t_bool, type(t_bool))
print('f_bool:', f_bool, type(f_bool))

t_bool: True <class 'bool'>
f_bool: False <class 'bool'>

<div id='43'><h4>Strings</h4></div>

In [15]:
text = "Hello, This is your first text in python."

In [16]:
print('text: ', text, type(text))

text Hello, This is your first text in python <class 'str'>

<div id='5'><h3>Operators</h3></div>

<div id='51'><h4>Arithmetic Operators</h4></div>

In [29]:
x = 68
y = 3

In [30]:
print('Addition: x + y =', x + y)
print('Sunstraction: x - y =', x - y)
print('Multiplication: x * y =', x * y)
print('Division: x / y =', x / y)
print('Modulus: x % y =', x % y)
print('Exponentiation: x ** y =', x ** y)
print('Floor Division: x // y =', x // y)

Addition: x + y = 71
Sunstraction: x - y = 65
Multiplication: x * y = 204
Division: x / y = 22.666666666666668
Modulus: x % y = 2
Exponentiation: x ** y = 314432
Floor Division: x // y = 22

<div id='52'><h4>Assignment Operators</h4></div>

In [40]:
x = 9
x += 5
x -= 2
x *= 4
x /= 2
x %= 100
x //= 7
x **= 2

<div id='53'><h4>Bitwise Assignment Operators</h4></div>

In [47]:
x = 5
x &= 3 # Bitwise and
x

1

In [46]:
x = 5
x |= 3 # Bitwise or
x

7

In [45]:
x = 5
x ^= 3 # Bitwise xor
x

6

In [44]:
x = 5
x >>= 3 # Shift to right
x

0

In [43]:
x = 5
x <<= 3 # Shift to right
x

40

<div id='54'><h4>Comparison Operators</h4></div>

In [49]:
x = 5
y = 4 
z = 2

In [50]:
x == x

True

In [51]:
x > y

True

In [52]:
z < y < x

True

In [53]:
z <= z

True

<div id='55'><h4>Logical Operators</h4></div>

In [57]:
a = True
b = False

In [58]:
a and b

False

In [59]:
a or b

True

In [60]:
not a

False

<div id='6'><h3>Conditional Statements</h3></div>

In [45]:
if True: 
    print('Hello everybody!')

Hello everybody!

In [56]:
if True: print('Hello again!')

Hello again!

In [57]:
if False:
    print('Bye!')

In [65]:
number_of_chairs = 120
number_of_students = 110

In [59]:
if number_of_chairs >= number_of_students: 
    print('No need to buy chair for students.')
else:
    print('You must pruchase {} chairs for students'.format(number_of_students - number_of_chairs))

You must pruchase 10 chairs for students

In [67]:
if number_of_chairs == number_of_students: 
    print('No need to buy chair for students.')
elif number_of_chairs > number_of_students:
    print('You can add {} students to your class.'.format(number_of_chairs - number_of_students))
else:
    print('You must pruchase {} chairs for students'.format(number_of_students - number_of_chairs))

You can add 10 students to your class.

<div id='55'><h4>Inline Conditions:</h4></div>

In [61]:
weather_temprature = 30 

feel = 'Cold' if weather_temprature < 10 else 'Hot'
feel

'Hot'

<div id='6'><h3>Data Containers</h3></div>
<br /> 
Python include several built-in containers such as lists, dictionaries, sets and tuples.

<div id='61'><h4>Lists</h4></div>

In [13]:
python_list = [1, 2, 3, 4, 5, 6]
print('python_list: ', python_list)
print('third element of python_list: ', python_list[2])
print('last element of python_list: ', python_list[-1])

python_list:  [1, 2, 3, 4, 5, 6]
third element of python_list:  3
last element of python_list:  6

In [137]:
len(python_list)

6

In [14]:
python_list[2] = 'foo'
print('python_list: ', python_list)

python_list:  [1, 2, 'foo', 4, 5, 6]

In [15]:
python_list.append('last_item')
print('python_list: ', python_list)

python_list:  [1, 2, 'foo', 4, 5, 6, 'last_item']

In [16]:
python_list.pop()
print('python_list: ', python_list)

python_list:  [1, 2, 'foo', 4, 5, 6]

<div id='61'><h4>Slicing</h4></div>

In [21]:
nums = list(range(5))    
print('nums:', nums)         
print('nums:', nums[2:5])
print('nums:', nums[2:])    
print('nums:', nums[:-1])   
nums[2:4] = [8, 9]           
print ('nums:', nums)

nums: [0, 1, 2, 3, 4]
nums: [2, 3, 4]
nums: [2, 3, 4]
nums: [0, 1, 2, 3]
nums: [0, 1, 8, 9, 4]

<div id='61'><h4>Loops on arrays:</h4></div>

In [40]:
animals = ['cat', 'dog', 'monkey']
sizes = ['small', 'medium', 'medium']

In [31]:
print('Animals -------------')
for animal in animals:
    print(animal)
print('\nSizes -------------')
for size in sizes:
    print(size)

Animals -------------
cat
dog
monkey

Sizes -------------
small
medium
medium

In [32]:
for index, animal in enumerate(animals): 
    print(index, '-', animal)

0 - cat
1 - dog
2 - monkey

In [44]:
for t in zip(animals, sizes):
    print('Tuple: ', t)

Tuple:  ('cat', 'small')
Tuple:  ('dog', 'medium')
Tuple:  ('monkey', 'medium')

<div id='7'><h3>Dictionaries: </h3></div>
<br />
A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [88]:
user = {
    'id': '345',
    'name': 'Erfan',
    'family-name': 'Asadi',
    'age': '23',
    'height': '198'
}

In [89]:
user

{'id': '345',
 'name': 'Erfan',
 'family name': 'Asadi',
 'age': '23',
 'height': '198'}

In [90]:
user['id']

'345'

In [91]:
user['gender']

KeyError: 'gender'

In [92]:
user['gender'] = 'male'

In [93]:
user['gender']

'male'

In [78]:
'name' in user

True

In [79]:
'erfan' in user

False

In [94]:
for inf in user: 
    print(inf, '->', user[inf])

id -> 345
name -> Erfan
family name -> Asadi
age -> 23
height -> 198
gender -> male

In [95]:
del user['age']

In [96]:
user

{'id': '345',
 'name': 'Erfan',
 'family name': 'Asadi',
 'height': '198',
 'gender': 'male'}

In [87]:
user2 = {
    'id': '346',
    'name': 'Reza',
    'family-name': 'Parsa',
    'age': '24',
    'height': '180'
}

In [81]:
users = [user, user2]

In [82]:
users

[{'id': '345', 'name': 'Erfan', 'age': '23', 'gender': 'male'},
 {'id': '346', 'name': 'Reza', 'age': '24', 'gender': 'male'}]

In [97]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

<div id='7'><h3>Functions: </h3></div>

In [102]:
# A function to calculate the abstract value of a numeral variable 
def absolute_value(x):
    abs_val = x
    if x < 0: 
        abs_val *= -1
    return abs_val

In [103]:
absolute_value(-12)

12

In [104]:
absolute_value(172)

172

In [113]:
# A function to multiply elements * n
def power(x, n=2):
    result = x
    for i in range(n - 1):
        result *= result
    return result

In [114]:
power(6)

36

In [115]:
power(3, 3)

81

In [111]:
x = lambda a : a + 10
print(x(5))

15

In [112]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

<div id='8'><h3>Classes: </h3></div>

In [138]:
class Dataset:
    
    # Constructor
    def __init__(self, data, label):
        self.data = data
        self.labels = label
        
    # Instance method
    def get_data(self, index):
        if index >= len(self.data):
            print('Invalid Index!!!')
        return (self.data[index], self.labels[index])
    
    def set_label_data(self, index, new_label):
        if index >= len(self.data):
            print('Invalid Index!!!')
        self.labels[index] = new_label

In [139]:
dataset = Dataset([-2, 3, -4, 4, 5, -6], ['N', 'P', 'N', 'P','P','P'])

In [140]:
dataset.get_data(2)

(-4, 'N')

In [141]:
dataset.get_data(-1)

(-6, 'P')

In [142]:
dataset.set_label_data(-1, 'N')

In [136]:
dataset.get_data(-1)

(-6, 'N')

<hr />

### About the author

`Name`: Erfan Asadi
<br />
`Email`: erfanasadi.ce@gmail.com
<br />
`Linkedin`: https://www.linkedin.com/in/erfan-asadi-9b64b9163/
<br />
`GitHub`: https://github.com/ErfanAsadi
<br />
<hr />